page-login {

    ion-content {
        background-image: url("../../assets/img/login-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;

    }

    .input-recovery-password {
        border: none;
        text-decoration: underline;
        font-size: 12px;
    }

    .box-inputs {
        width: 75%;
        margin: 60% auto;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px lighten(black, 25%);

        ion-buttons {
            text-align: center;
        }

        .input-cpf {
            border-bottom: 1px solid grey;
        }

    }
}
