page-recovery-password {
  /* Estilo do container das inputs */


  .box-inputs {
    width: 75%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px lighten(black, 70%);

    .input-cpf {
      border-bottom: 1px solid grey;
    }

    button {
      margin-top: 15px;
    }
  }
}