page-onboard {

  $primary: map-get($colors, primary);

  .scroll-content {
    background-image: url("../assets/img/bg-onboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .toolbar-background {
    background: darken($primary, 5);
    border-color: transparent;
  }

  .btn-pular {
    color: white;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-content {
    padding: 30px;

    .slide-title {
      margin-top: 2.8rem;
    }

    .slide-image {
      max-height: 30%;
      max-width: 40%;
      margin: 18px 0;
    }
    .btn-continuar {
      color: white;
    }
  }
}
