<ion-content class="page-onboard" padding-top no-bounce>

  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides; let index = index">
      <ion-toolbar *ngIf="index + 1 < slides.length">
        <ion-buttons end>
          <button ion-button class="btn-pular" (click)="close()">Pular</button>
        </ion-buttons>
      </ion-toolbar>
      <div class="slide-content">

        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <div>
          <img [src]="slide.image" class="slide-image"/>
        </div>
        <p class="descricao" [innerHTML]="slide.description"></p>

        <button *ngIf="index + 1 == slides.length" class="btn-continuar" ion-button large clear icon-right (click)="close()">
          Continuar
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
